    .fancy-form input {
    transition: all 0.3s ease-out;
    }
    
    .fancy-form fieldset {
    border: none;
    padding: 25px 10px 10px 10px;
    }
    
    .fancy-form label {
    display: block;
    font: 14px Arial, Helvetica, sans-serif;
    padding-left: 10px;
    letter-spacing: 1px;
    padding-left: 10px;
    color: #1b6d8e;
    opacity: 0.8;
    }
    
    .fancy-form input:focus + label {
    opacity: 1.0;
    }
    
    .fancy-form input:not([type=submit]) {
    width: 100%;
    display: block;
    }
    
    .submit-wrap {
    display: none;
    }
    
    .fancy-form div {
    margin: 0 0 6px 0;
    clear: both;
    }
    
    .fancy-form div > div {
    padding: 4px;
    }
    
    .fancy-form .city-wrap {
    width: 69%;
    margin-right: 1%;
    }
    
    .fancy-form .state-wrap {
    width: 9%;
    margin-right: 1%;
    }
    
    .fancy-form .zip-wrap {
    width: 20%;
    display: block !important;
    }
    
    .zip-error {
    color: #d70000;
    font: 12px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    border-top: 2px dotted #ec9696;
    border-bottom: 2px dotted #ec9696;
    text-align: center;
    padding: 5px 10px;
    margin-top: 10px;
    display: none;
    }
    
    .inline-label { 
        white-space: nowrap;
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        float:left;     
        }